@model StudentPortal.Models.StudentViewModel

<section class="create grid place-center view">
    <h2>Update Student Details</h2>

    @using (Html.BeginForm()) {
        @Html.HiddenFor(m => m.StudentID)
        <div class="form-field">
            @Html.LabelFor(m => m.StudentName)
            @Html.TextBoxFor(m => m.StudentName)
            <div class="flex-column">
                @Html.ValidationMessageFor(m => m.StudentName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-field">
            @Html.LabelFor(m => m.StudentEmail)
            @Html.TextBoxFor(m => m.StudentEmail)
            <div class="flex-column">
                @Html.ValidationMessageFor(m => m.StudentName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-field">
            @Html.LabelFor(m => m.DepartmentID, "Department")
            @Html.DropDownListFor(m => m.DepartmentID, new SelectList(Model.Departments, "DepartmentID", "DepartmentName"), "Select a Department")
            <div class="flex-column">
                @Html.ValidationMessageFor(m => m.DepartmentID, "", new { @class = "text-danger" })
            </div>
        </div>
         <div class="view-button create-button flex gap-30">
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="@Url.Action("Index")" class="btn btn-primary">Go Back</a>
         </div>
    }
</section>
