@model CourseViewModel

<h2>Create Course</h2>

@using (Html.BeginForm()) 
{
    <div>
        @Html.LabelFor(m => m.CourseName)
        @Html.TextBoxFor(m => m.CourseName)
        @Html.ValidationMessageFor(m => m.CourseName, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(m => m.Duration) (in Months)
        @Html.TextBoxFor(m => m.Duration)
        @Html.ValidationMessageFor(m => m.Duration, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(m => m.Credits)
        @Html.TextBoxFor(m => m.Credits)
        @Html.ValidationMessageFor(m => m.Credits, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(m => m.DepartmentID, "Department")
        @Html.DropDownListFor(m => m.DepartmentID, new SelectList(Model.Departments, "DepartmentID", "DepartmentName"), "Select a Department")
        @Html.ValidationMessageFor(m => m.DepartmentID, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
}

<a href="@Url.Action("Index")">Back to List</a>
