@model StudentPortal.Models.DepartmentViewModel

<section class="create grid place-center view">
    <h2>Add Department</h2>

    @using (Html.BeginForm()) {
        <div class="form-field">
            @Html.LabelFor(m => m.DepartmentName)
            @Html.TextBoxFor(m => m.DepartmentName, new { placeholder = "Enter Department Name"})
            <div class="flex-column">
                @Html.ValidationMessageFor(m => m.DepartmentName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-field">
            @Html.LabelFor(m => m.DepartmentHead)
            @Html.TextBoxFor(m => m.DepartmentHead, new { placeholder = "Enter name of the Department Head"})
            <div class="flex-column">
                @Html.ValidationMessageFor(m => m.DepartmentHead, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="view-button create-button flex gap-30">
            <button type="submit" class="btn btn-primary">Add</button>
            <a href="@Url.Action("Index")" class="btn btn-primary">View All</a>
        </div>
    }
</section>
